boto3
ipykernel
numpy
pandas
matplotlib
xarray
rioxarray
gdal
pyproj
pathlib
requests
rasterio
netcdf4
h5netcdf
zarr
dask
awscli
s3fs
fsspec
gdown
aiohttp
scipy
geopandas
folium
distributed
tqdm
hvplot
black
flake8
scikit-learn